<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #bdb2ff;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 class="text-center mt-4">To Do List</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="/add" method="post">
                    <div class="form-group">
                        <label for="task">Enter Task to add!</label>
                        <input name="task" id="task" type="text" class="form-control">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">Add</button>
                    </div>
                    <br/>
                    {%for todo in todo_list%}
                    <div class="card text-center mt-3" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item bg-warning">{{ todo.task }}</li>
                        </ul>
                    </div>
                    <div class="card text-center mt-2" style="width: 6rem;">
                        <ul class="list-group list-group-flush">
                          <a class="btn btn-danger btn-sm" href="/delete/{{ todo.id }}">Remove Task</a>
                        </ul>
                    </div>
                    <!-- <h4 class="text-center mt-2"> {{ todo.task }} <a class="btn btn-danger" href="/delete/{{ todo.id }}">Remove Task</a> </h4> -->
                    {% endfor %}
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>